---
---

@import "/assets/css/base.css";

@media screen and (min-width: 1008px) {
	:root {
		padding-top: 0.5rem;
		padding-left: 5%;
		padding-right: 5%;
		box-sizing: border-box;
	}

	* {
		-webkit-user-select: none;
	}

	body {
		background-color: var(--background-main-color);
	}

	.logo {
		width: 2rem;
		border-radius: 50%;
		cursor: pointer;
	}

	.title {
		text-decoration: none;
		color: var(--text-color);
		font-weight: bolder;
		font-size: 1.5rem;
		margin-left: 0.5rem;
	}

	.navbar {
		display: flex;
		align-items: center;
		height: 12%;
		line-height: 0;
		> .main {
			display: flex;
			align-items: center;
		}
		> nav {
			flex: 1;
			text-align: right;
			> ul > li {
				list-style: none;
				display: inline-block;
				margin-right: 2rem;
				> a {
					text-decoration: none;
					color: var(--theme-main-color);
					font-weight: bold;
					font-size: 1rem;
					&:hover {
						color: var(--accent-main-color);
					}
				}
			}
		}
		> .widget {
			display: flex;
			align-items: center;
			> div {
				display: flex;
				width: auto;
				min-width: 2rem;
				height: 2rem;
				margin-left: 0.5rem;
				border-radius: 1rem;
				transition: all 0.2s;
				cursor: pointer;
				> i {
					font-size: 1.5rem;
					margin-top: calc((2rem - 1.5rem) / 2 + 1px);
					margin-left: calc((2rem - 1.5rem) / 2);
					color: var(--theme-main-color);
				}
				> div {
					vertical-align: top;
					color: var(--text-color);
					display: none;
					margin: auto;
					> p {
						width: calc(2 * 100%);
						margin-right: 1.5rem;
					}
					> ul {
						text-align: center;
						margin-top: -0rem;
						margin-left: -2rem;
						margin-right: 2rem;
						list-style: none;
						display: none;
						> li {
							color: var(--text-color);
							line-height: 2rem;
							&:hover {
								background-color: var(--background-secondary-color);
							}
						}
					}
				}
				&:hover {
					background: var(--background-secondary-color);
					> i {
						margin-right: 1rem;
					}
					> div {
						display: flex;
						> ul {
							display: block;
						}
					}
				}
			}
		}
	}
}