---
---

@import "/assets/css/base.css";

@media screen and (min-width: 1008px) {
	:root {
		--padding-top: 1rem;
		--padding-bottom: 1rem;
		--padding-left: 5vw;
		--padding-right: 5vw;
		--header-height: 3rem;
		box-sizing: border-box;
		padding: calc(var(--padding-top) + var(--header-height)) var(--padding-right) var(--padding-bottom) var(--padding-left);
	}

	* {
		-webkit-user-select: none;
	}

	body {
		background-color: var(--background-main-color);
		color: var(--text-color);
	}

	.logo {
		width: 2rem;
		border-radius: 50%;
		cursor: pointer;
	}

	.title {
		text-decoration: none;
		color: var(--text-color);
		font-weight: bolder;
		font-size: 1.5rem;
		margin-left: 0.5rem;
	}

	.navbar {
		position: fixed;
		z-index: var(--header-z-index);
		inset: 0;
		height: max-content;
		padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
		display: flex;
		align-items: center;
		line-height: 0;
		backdrop-filter: blur(5vw);
		> .main {
			display: flex;
			align-items: center;
		}
		> nav {
			flex: 1;
			text-align: right;
			> ul > li {
				list-style: none;
				display: inline-block;
				margin-right: 2rem;
				> a {
					text-decoration: none;
					color: var(--theme-main-color);
					font-weight: bold;
					font-size: 1rem;
					&:hover {
						color: var(--accent-main-color);
					}
				}
			}
		}
		> .widget {
			display: flex;
			align-items: center;
			> div {
				display: flex;
				width: auto;
				min-width: 2rem;
				height: 2rem;
				margin-left: 0.5rem;
				border-radius: 1rem;
				transition: all 0.2s;
				cursor: pointer;
				> i {
					font-size: 1.5rem;
					margin-top: calc((2rem - 1.5rem) / 2 + 1px);
					margin-left: calc((2rem - 1.5rem) / 2);
					color: var(--theme-main-color);
				}
				> div {
					display: none;
					margin: auto;
					> span {
						width: calc(2 * 100%);
						padding-left: calc(2rem * 1.1);
						padding-right: 2rem;
					}
					> ul {
						text-align: center;
						margin-top: -0rem;
						padding-left: calc(2rem * 1.1);
						padding-right: 2rem;
						list-style: none;
						display: none;
						> li {
							line-height: 2rem;
							&:hover {
								background-color: var(--background-secondary-color);
							}
						}
					}
				}
				&:hover {
					background: var(--background-secondary-color);
					> i {
						display: none;
					}
					> div {
						display: flex;
						> ul {
							display: block;
						}
					}
				}
			}
		}
	}
}