<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<header>
    <link rel="stylesheet" href="/assets/css/header.css">
    <a class="title" href="#">Title</a>
    <nav>
        <ul class="nav_links">
            {% for head in site.data.head %}
            <li><a href="{{ head.link }}">{{ head.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <a class="cta" href="#">
        <button>Button</button>
    </a>
</header>
</body>
</html>