<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<header>
    <link rel="stylesheet" href="/assets/css/header.css">
    <a class="title" href="#">Title</a>
    <nav>
        <ul class="nav_links">
            {% for nav in site.data.navigation %}
            <li><a href="{{ nav.link }}">{{ nav.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <a class="cta" href="#">
        <button>Button</button>
    </a>
    <img src="/assets/img/moon.svg" id="view-mode" alt="light-mode">
</header>
<script>
    var mode = document.getElementById("view-mode");
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
        mode.src = "/assets/img/moon.svg";
    } else {
        mode.src = "/assets/img/sun.svg";
    }
    mode.onclick = function() {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
            if(document.body.classList.contains("light-theme")) document.body.classList.toggle("light-theme");
            document.body.classList.toggle("dark-theme");
            if (document.body.classList.contains("dark-theme")) {
                mode.src = "/assets/img/sun.svg";
            } else {
                mode.src = "/assets/img/moon.svg";
            }
        } else {
            if(document.body.classList.contains("dark-theme")) document.body.classList.toggle("dark-theme");
            document.body.classList.toggle("light-theme");
            if (document.body.classList.contains("light-theme")) {
                mode.src = "/assets/img/moon.svg";
            } else {
                mode.src = "/assets/img/sun.svg";
            }
        }
    }
</script>
</body>
</html>