<!doctype html>

<header>
    <link rel="stylesheet" href="{{'/assets/css/header.css' | absolute_url}}">
    <div class="navbar">
        <img class="logo" src="/assets/img/logo.png" alt="logo">
        <a class="i18n title" id="title" href="/">{{ site.title | escape }}</a>
        <nav>
            <ul>
                {% for nav in site.data.navigation %}
                <li><a class="i18n" id="{{ nav.id }}" href="{{ nav.link }}">{{ nav.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="nav-item" id="style">
            <div class="nav-img"><img id="style-img" src="/assets/img/moon.svg" alt="style"></div>
            <div class="nav-text"><p class="i18n" id="style-text">style</p></div>
        </div>
        <div class="nav-item">
            <div class="nav-img"><img src="/assets/img/i18n.svg" alt="i18n"></div>
            <div class="nav-text">
                <ul>
                    {% for i18n in site.data.i18n %}
                    <li><a class="langButton" data-lang="{{ i18n.code }}">{{ i18n.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
<script src="/assets/js/style.js"></script>
<script src="/assets/js/i18n.js"></script>