@import url('https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Normal/MiSans-Light.min.css');
@import url('https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Normal/MiSans-Medium.min.css');
@import url('https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Normal/MiSans-Bold.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --theme-main-color: #E61300;
    --theme-secondary-color: #FF4040;

    --background-main-color: #262626;
    --background-secondary-color: #1A1A1A;

    --accent-main-color: #FF4040;
    --accent-secondary-color: #E61300;

    --text-color: #FFFEF2;
}

@media (prefers-color-scheme: light) {
    :root {
        --theme-main-color: #FFC800;
        --theme-secondary-color: #F28D00;

        --background-main-color: #FFFEF2;
        --background-secondary-color: #FFF5D9;

        --accent-main-color: #F28D00;
        --accent-secondary-color: #FFC800;

        --text-color: #262626;
    }
}

.light-style {
    --theme-main-color: #FFC800;
    --theme-secondary-color: #F28D00;

    --background-main-color: #FFFEF2;
    --background-secondary-color: #FFF5D9;

    --accent-main-color: #F28D00;
    --accent-secondary-color: #FFC800;

    --text-color: #262626;
}

.dark-style {
    --theme-main-color: #E61300;
    --theme-secondary-color: #FF4040;

    --background-main-color: #262626;
    --background-secondary-color: #1A1A1A;

    --accent-main-color: #FF4040;
    --accent-secondary-color: #E61300;

    --text-color: #FFFEF2;
}

#theme-style {
    width: 30px;
    cursor: pointer;
}

#internationalization {
    width: 30px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

body {
    background-color: var(--background-main-color);
}

li, a, button {
    font-family: "MiSans", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

.title {
    font-family: "MiSans", sans-serif;
    font-weight: 1000;
    font-size: 32px;
    cursor: pointer;
}

.i18n_button {
    margin-left: 50px;
    margin-right: auto;
    cursor: pointer;
}

.i18n_list {
    background-color: var(--theme-main-color);
    display: none;
}

.i18n_list li:hover {
    background-color: var(--accent-main-color);
}

.i18n_button:hover .i18n_list{
    display: block;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: var(--theme-main-color);
}

button {
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 7px 10px;
    background-color: var(--theme-main-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--accent-main-color);
}